<div class="flex flex-col justify-center items-center bg-slate-800 h-screen">
    <h4 class="text-center text-2xl text-white">Registrarse</h4>
    <hr class="border-[3px] border-purple-700 w-[50px] my-2 rounded" />
    <div class="shadow-xl shadow-slate-950 w-[300px] p-4 rounded bg-white">
        <form [formGroup]="registerForm" (submit)="onSubmit()" class="flex flex-col gap-5" autocomplete="off">
            <div class="flex flex-col flex-grow">
                <label for="" class=" text-sm">Nombre</label>
                <input 
                class="border border-gray-300 p-2 rounded-sm outline-purple-800 placeholder:text-xs"
                type="text" formControlName="name" name="name" placeholder="Ingresa tu Nombre"/>                
                <span *ngIf="name?.touched" class="text-xs text-red-500">
                    {{errorControl("name")?.["required"] && "El nombre es requerido"}}
                </span>
            </div>
            <div class="flex flex-col flex-grow">
                <label for="" class="  text-sm">Correo</label>
                <input 
                class="border border-gray-300 p-2 rounded-sm outline-purple-800 placeholder:text-xs"
                type="text" name="email" formControlName="email" placeholder="Ingresa tu Correo"/>
                <span *ngIf="email?.touched" class="text-xs text-red-500">
                    {{errorControl("email")?.["required"] && "El correo es requerido"}}
                    {{errorControl("email")?.["email"] && "El correo es invalido"}}
                </span>
            </div>
            <div class="flex flex-col flex-grow">
                <label for="" class="  text-sm">Contraseña</label>
                <input 
                class="border border-gray-300 p-2 rounded-sm outline-purple-800 placeholder:text-xs"
                type="password" name="pass" formControlName="pass" placeholder="Ingresa tu Clave"/>
                <span *ngIf="pass?.touched" class="text-xs text-red-500">
                    {{errorControl("pass")?.["required"] && "La contraseña es requerida"}}                    
                    {{errorControl("pass")?.["minlength"] && "La contraseña como mínimo debe tener 8 caracteres"}}
                </span>
            </div>
            <div class="flex flex-row justify-center my-4">
                <button type="submit" class="bg-purple-800 p-2 rounded-md w-6/12 text-white">REGISTRARSE</button>
            </div>
        </form> 
        <!-- <div class="border border-slate-700 bg-slate-800 text-white my-3 p-2 rounded">
            <pre>Nombre : {{name?.valid | json}}</pre>
            <pre>Correo : {{email?.valid | json}}</pre>
            <pre>Pass : {{pass?.valid | json}}</pre>
            <hr />
            <pre>Errores : {{ errors | json}}</pre>            
        </div> -->
    </div>
</div>