<div class="w-[300px] bg-slate-100 h-screen p-4">
    <ul class="flex flex-col gap-2 my-3">        
        <li routerLink="/home-page" [routerLinkActiveOptions]="{exact: true}" class="link-sidebar" routerLinkActive="bg-blue-200">
            Dashboard
        </li>
        <li routerLink="/profile" [routerLinkActiveOptions]="{exact: true}" class="link-sidebar"  routerLinkActive="bg-blue-200">
            My Profile
        </li>
    </ul>
    <div class="rounded-md text-base bg-blue-800 p-4 text-center text-slate-100">
        Versión 1.0.0
        by Bloidev
    </div>
</div>

